{% extends theme ~ "/layout.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Adminisztrációs felület</h2>
                Kérem válasszon a fenti menüpontok közül.<br>
                Megjegyzés: ez a felület lehet majd egyéb admin üdvözlő képernyős adatoknak is.
            </div>
        </div>
    </div>
    
{% endblock %}
